.comment-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  &__input {
    margin-bottom: 10px;
    border-radius: 5px;
    outline: none;
    resize: none;

    &:focus {
      outline: none;
      box-shadow: 0 10px 10px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 600px) {
      justify-content: space-around;
    }
  }

  &__submit-button {
    padding: 5px 0;
    width: 140px;

    @media screen and (max-width: 600px) {
      width: 120px;
    }
  }

  &__close-button {
    padding: 5px 0;
    width: 140px;

    @media screen and (max-width: 600px) {
      width: 120px;
    }
  }
}
